.about {
    position: relative;
    overflow: hidden;
}

.about__content {
    padding: 50px 16px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 1600px;
    min-height: 695px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.about__text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: start;
}

.about__title {
    margin: 31px 0 0;
}

.about__subtitle {
    margin: 24px 0 0;
}

.about__image-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.about__image {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: static;
}

.about__bg-circle-yellow {
    position: absolute;
    content: "";
    background-image: url("../images/about-circle-yellow.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: 10%;
    z-index: 2;
    width: 140px;
    height: 140px;
    max-width: 20%;
}

.about__bg-circle-gray {
    position: absolute;
    content: "";
    background-image: url("../images/about-img-bg-gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
    z-index: -1;
    width: 681px;
    height: 681px;
    max-width: 100%;
}

.about__bg-circle-gray-right {
    position: absolute;
    content: "";
    background-image: url("../images/contact-bg-circle-outer.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 5%;
    right: -8%;
    z-index: -1;
    width: 549px;
    height: 549px;
    max-width: 100%;
    display: none;
}
.about__bg-circle-gray-right::before {
    position: absolute;
    content: "";
    background-image: url("../images/contact-bg-circle-inner.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 5.4%;
    right: 5%;
    z-index: -1;
    width: 487px;
    height: 487px;
    max-width: 100%;
}

.about__button {
    margin: 40px 0 0 4px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .about__content {
        padding: 60px 40px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .about__image-container {
        max-width: 60%;
        margin: 0 auto;
    }
    .about__bg-circle-yellow {
        max-width: 60%;
        right: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about__image-container {
        max-width: 80%;
        margin: 0 auto;
    }

    .about__content {
        padding: 150px 60px;
        grid-gap: 60px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about__text {
        margin: 84px 0 0 8px;
    }

    .about__content {
        grid-gap: 88px;
        padding: 175px 72px 260px;
        -ms-grid-columns: 1fr 88px 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    .about__title {
        margin: 22px 0 0 0;
    }

    .about__subtitle {
        margin: 35px 0 0 8px;
    }

    .about__image-container {
        margin: 0;
        max-width: 100%;
    }

    .about__image {
        width: auto;
        position: absolute;
        top: -300px;
        left: -14%;
    }
    .about__bg-circle-yellow {
        position: absolute;
        content: "";
        background-size: cover;
        top: -287px;
        right: 145px;

        max-width: 100%;
    }
    .about__bg-circle-gray {
        top: -347px;
        right: 11%;
    }
    .about__bg-circle-gray-right {
        display: block;
    }
}

@media only screen and (min-width: 1440px) {
    .about__image-container {
        max-width: 100%;
    }

    .about__bg-circle-yellow {
        width: 210px;
        height: 210px;
        right: 21%;
    }

    .about__image {
        max-width: 719px;
        max-height: 829px;
    }
}
