.button {
    border-radius: 40px;
    padding: 0;
    border: none;
    width: 100%;
    height: 60px;
    max-width: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "nexa-bold", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.78;
    background-color: #fbc727;
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.button:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    background-color: #00dadc;
    color: #181818;
}

.button_type_bg_white {
    background-color: #fff;
    color: #181818;
}

.button_type_bg_white:hover {
    background-color: #00dadc;
    color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .button {
        height: 60px;
        max-width: 215px;
        font-size: 18px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .button {
        height: 68px;
        max-width: 270px;
        font-size: 18px;
    }
}
