.card__container {
    position: relative;
    border-radius: 20px;
    z-index: 1;
}

.card__container::before {
    content: "";
    position: absolute;
    top: 50px;
    bottom: 110px;
    left: 10px;
    right: 10px;
    border-radius: 25px;
    z-index: -1;
    -webkit-box-shadow: /* The top layer shadow */ 0 7px 0px 0px #6529dd,
        /* The second layer */ 0 52px 0 -10px rgba(134, 90, 232, 0.8),
        /* The second layer shadow */ 0 75px 20px -37px #6529dd;
    box-shadow: /* The top layer shadow */ 0 7px 0px 0px #6529dd,
        /* The second layer */ 0 52px 0 -10px rgba(134, 90, 232, 0.8),
        /* The second layer shadow */ 0 75px 20px -37px #6529dd;
}
.card__container:after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 105px;
    left: 10px;
    right: 10px;
    border-radius: 43px;
    z-index: -3;
    -webkit-box-shadow: /* The third layer */ 0 87px 0 -29px rgba(123, 76, 231, 0.8),
        /* The third layer shadow */ 0 130px 20px -67px #6529dd;
    box-shadow: /* The third layer */ 0 87px 0 -29px rgba(123, 76, 231, 0.8),
        /* The third layer shadow */ 0 130px 20px -67px #6529dd;
}

.card {
    width: 100%;
    min-height: 332px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 40px 16px 80px;
    margin: 94px 0;
    text-align: center;
    display: none;
    max-width: 730px;
    background-image: url("../images/testimonials-quote.png");
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 13px;
}

.card__content {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.9;
}

.card__text {
    padding: 0;
    margin: 0;
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.82;
    color: #25234d;
    height: auto;
}
.card__star {
    color: #fbc727;
    margin: -24px 0 0;
}

.card__name {
    font-family: "nexa-xbold", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 2.02;
    color: #6529dd;
    margin: 20px 0 0;
    padding: 0;
}

.card__button-container {
    position: absolute;
    content: "";
    bottom: 138px;
    left: -15px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0 0;
}

.card__button-container :not(:last-child) {
    margin-right: 20px;
}

.card__button {
    font-size: 18px;
    line-height: 3.22;
    width: 40px;
    height: 40px;
    border: 2px solid #6a697f;
    border-radius: 25px;
    background-color: #fff;
    color: #4c4c4c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.card__button:hover {
    background-color: #00dadc;
    border-color: #00dadc;
    color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card__content {
        font-size: 20px;
        line-height: 2.9;
        padding: 20px 50px 0px;
    }
    .card__text {
        font-size: 24px;
        line-height: 2.02;
    }
    .card__name {
        font-size: 24px;
        line-height: 2.42;
    }
    .card__button {
        font-size: 18px;
        line-height: 3.22;
        width: 50px;
        height: 50px;
        border: 2px solid #6a697f;
        border-radius: 40px;
        background-color: #fff;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .card__container {
        margin: 0 43px 0 0;
    }
    .card {
        padding: 40px 16px 116px;
    }
}
