.contact {
    position: relative;
    z-index: 1;
    padding: 50px 16px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 1600px;
    min-height: 695px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.contact__bg-circle-gray {
    position: absolute;
    content: "";
    background-image: url("../images/contact-bg-circle-outer.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 549px;
    height: 549px;
    max-width: 60%;
    left: -27.2vw;
    top: -43px;
}

.contact__bg-circle-gray::before {
    position: absolute;
    content: "";
    background-image: url("../images/contact-bg-circle-inner.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 487px;
    height: 487px;
    max-width: 80%;
    left: 1.4vw;
    top: 10%;
}

.contact__form {
    font-family: "nexa-xbold", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    width: 100%;
    position: relative;
    z-index: -1;
    color: #e2e0e0;
    padding: 60px 16px;
    max-width: 420px;
    -webkit-box-shadow: 8px 8px 22px 0px #ecf2fb, /* The second layer */ 0 40px 0 -18px #fff,
        /* The second layer shadow */ 0 0px 56px 24px #ecf2fb;
    box-shadow: 8px 8px 22px 0px #ecf2fb, /* The second layer */ 0 40px 0 -18px #fff,
        /* The second layer shadow */ 0 0px 56px 24px #ecf2fb;
    border-color: #bfaeef;
    border-radius: 16px;
    text-align: center;
    margin: 0 auto;
}

.contact__form::before {
    position: absolute;
    content: "";
    top: -15%;
    background-image: url("../images/contact-form-circle.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    right: -3%;
    width: 206px;
    height: 206px;
    max-width: 30%;
    max-height: 30%;
}

.contact__text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: start;
}

.contact__title {
    margin: 31px 0 0;
}
.contact__subtitle {
    margin: 24px 0 0;
}

.contact__form-button {
    text-transform: uppercase;
    margin: 22px 0 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .contact {
        padding: 60px 40px;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .contact {
        padding: 150px 60px;
        -ms-grid-columns: 1fr 60px 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px;
    }
    .contact__form {
        max-width: 472px;
        padding: 83px 42px;
        text-align: start;
        margin: 0;
    }
    .contact__form::before {
        right: -8%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .contact {
        grid-gap: 129px;
        padding: 43px 80px 57px;
    }
    .contact__form {
        width: auto;
        -webkit-box-sizing: unset;
        box-sizing: unset;
    }

    .contact__text {
        margin: 197px 0 0;
    }
    .contact__title {
        margin: 23px 0 0;
    }
    .contact__subtitle {
        margin: 52px 0 0;
    }
    .contact__text-container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 0 0 0 43px;
    }
    .contact__bg-circle-gray {
        left: -27.2vw;
        top: -43px;
        max-width: 100%;
        max-height: 100%;
    }
    .contact__bg-circle-gray::before {
        left: 1.4vw;
        top: 31px;
        max-width: 100%;
        max-height: 100%;
    }
}

@media only screen and (min-width: 1600px) {
    .contact__form::before {
        top: -125px;
        right: -23.4%;
        max-width: 100%;
        max-height: 100%;
    }
}
