@-webkit-keyframes flip-top-fwd {
    0% {
        -webkit-transform: translateY(-100%) translateZ(160px) rotateX(-180deg);
        transform: translateY(-100%) translateZ(160px) rotateX(-180deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;

        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) translateZ(0) rotateX(0);
        transform: translateY(0) translateZ(0) rotateX(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes flip-top-fwd {
    0% {
        -webkit-transform: translateY(-100%) translateZ(160px) rotateX(-180deg);
        transform: translateY(-100%) translateZ(160px) rotateX(-180deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;

        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) translateZ(0) rotateX(0);
        transform: translateY(0) translateZ(0) rotateX(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

.flip-top-fwd {
    -webkit-animation: flip-top-fwd 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: flip-top-fwd 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
