.footer {
    position: relative;
    overflow: hidden;
    margin: 74px 0 0;
    padding: 50px 0 0;
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 85%;
}

.footer__content {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 2.35;
    font-size: 17px;
    padding: 50px 16px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.footer__cols {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.footer__col {
    margin: 30px 0 0;
}

.footer__col-links {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.68;
    list-style: none;
    margin: 20px 0 16px;
    padding: 0;
    display: inherit;
}

.footer__link {
    cursor: pointer;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
    -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__social-icon {
    width: 40px;
    height: 40px;
    background-color: rgb(83, 211, 255, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 25px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer__social-icon:hover {
    background-color: #00dadc;
    opacity: 1;
}

.footer__links_content_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer__links_content_social :not(:last-child) {
    margin-right: 14px;
}
.footer__copyright {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.35;
    color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .footer__content {
        padding: 100px 40px 40px;
    }

    .footer__col_content_info {
        margin: 0;
    }
    .footer__links_content_social {
        margin: 0;
    }
    .footer__copyright {
        margin: 65px 0 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .footer__content {
        padding: 125px 72px 0;
    }
    .footer__cols {
        text-align: start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .footer__col_content_info {
        width: 50%;
    }
    .footer__col {
        margin: 0;
    }
    .footer__col-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .footer {
        background-position-x: 100%;
    }

    .footer__col-links {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0;
    }

    .footer__col_content_info {
        margin: 27px 0 0 15px;
        max-width: 565px;
    }

    .footer__links_content_social {
        margin: 20px 0 0;
    }
}
