.form__input {
    width: 100%;
    font-family: "nexa-xbold", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.05em;
    border: 1px solid #d4d3d3;
    outline: none;
    padding: 22px 31px;
    color: #6422db;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin: 0 0 20px;
}

.form__input::-webkit-input-placeholder {
    color: #bfbfbf;
    text-transform: none;
}

.form__input::-moz-placeholder {
    color: #bfbfbf;
    text-transform: none;
}

.form__input:-ms-input-placeholder {
    color: #bfbfbf;
    text-transform: none;
}

.form__input::-ms-input-placeholder {
    color: #bfbfbf;
    text-transform: none;
}

.form__input::placeholder {
    color: #bfbfbf;
    text-transform: none;
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
}
.form__input:focus {
    outline: none;
    border-radius: 5px;
    color: #6422db;
}

.form__input-message {
    height: 195px;
}

.form__input-name-wrapper {
    position: relative;
}
.form__input-email-wrapper {
    position: relative;
}
.form__input-message-wrapper {
    position: relative;
}

.form__input-name:focus + .form__input__label-name {
    font-size: 15px;
    background-color: #fff;
    opacity: 1;
}
.form__input-email:focus + .form__input__label-email {
    font-size: 15px;
    background-color: #fff;
    opacity: 1;
}
.form__input-message:focus + .form__input__label-message {
    font-size: 15px;
    background-color: #fff;
    opacity: 1;
}

.form__input__label-name {
    position: absolute;
    content: "";
    top: -10px;
    left: 30px;
    background: none;
    color: #bfbfbf;
    padding: 0 8px;
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.form__input__label-email {
    position: absolute;
    content: "";
    top: -10px;
    left: 30px;
    background: none;
    color: #bfbfbf;
    padding: 0 8px;
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.form__input__label-message {
    position: absolute;
    content: "";
    top: -10px;
    left: 30px;
    background: none;
    color: #bfbfbf;
    padding: 0 8px;
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 1200px) {
    .form__input {
        font-size: 20px;
        letter-spacing: 0.05em;
        padding: 28px 37px;
    }
    .form__input::-webkit-input-placeholder {
        font-size: 19px;
    }
    .form__input::-moz-placeholder {
        font-size: 19px;
    }
    .form__input:-ms-input-placeholder {
        font-size: 19px;
    }
    .form__input::-ms-input-placeholder {
        font-size: 19px;
    }
    .form__input::placeholder {
        font-size: 19px;
    }
    .form__input-name:focus + .form__input__label-name {
        font-size: 19px;
    }
    .form__input-email:focus + .form__input__label-email {
        font-size: 19px;
    }
    .form__input-message:focus + .form__input__label-message {
        font-size: 19px;
    }
}
