.header {
    width: 100%;
    position: fixed;
    z-index: 3;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 16px;
    max-width: 1460px;
    background: transparent;
}

.header__links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__links {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.68;
    list-style-type: none;
    margin: 0 0 0 80px;
    padding: 20px 0 0;
    color: #fff;
    display: none;
}

.header__link {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.68;
    color: #fff;
    text-decoration: none;
    -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    cursor: pointer;
}

.header__link:hover {
    opacity: 0.7;
}

.header__links :not(:last-child) {
    margin: 0 20px 0 0;
}

.header__button {
    width: 150px;
    height: 55px;
    color: #6426dd;
    display: none;
    font-size: 16px;
    line-height: 1.02;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header {
        padding: 30px 40px;
    }
    .header__content {
        padding: 17px 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        padding: 20px 80px;
    }

    .header__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header__button {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header__links :not(:last-child) {
        margin: 0 34px 0 0;
    }

    .header__button {
        font-size: 16.78px;
        line-height: 1.52;
        width: 165px;
        height: 60px;
        margin: 0px 8px 0 0;
    }

    .header__link {
        font-size: 19px;
        line-height: 1.68;
    }
}
