.hero {
    position: relative;
    overflow: hidden;
    background-image: url("../images/hero-bg_purple.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    padding: 140px 16px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 1600px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 40px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
    position: relative;
    z-index: 1;
}

.hero__text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: start;
}

.hero__title {
    font-size: 80px;
    line-height: 0.9;
    letter-spacing: -0.02em;
    margin: 30px 0 0;
}

.hero__subtitle {
    margin: 50px 0 0;
}

.hero__image-container {
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    justify-self: flex-end;
}

.hero__image {
    position: relative;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}

.hero__bg-dots {
    content: "";
    background-image: url("../images/hero-img-dots.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -2px;
    right: 112px;
    z-index: -1;
    width: 678px;
    height: 553px;
    max-width: 80%;
}

.hero__bg-circle-yellow {
    content: "";
    background-image: url("../images/hero-circle-yellow.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 49px;
    right: 37px;
    z-index: 0;
    width: 525.66px;
    height: 525.63px;
    max-width: 60%;
}

.hero__bg-circle-blue {
    content: "";
    background-image: url("../images/hero-circle-blue.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 100px;
    left: -60px;
    z-index: 1;
    width: 223.94px;
    height: 223.91px;
    max-width: 40%;
}

.hero__bg-circle-inner {
    content: "";
    background-image: url("../images/hero-circle-left-inner.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 578px;
    left: 0;
    z-index: 0;
    width: 258px;
    height: 652px;
    max-width: 80%;
}

.hero__bg-circle-outer {
    content: "";
    background-image: url("../images/hero-circle-left-outer.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 503px;
    left: 0px;
    z-index: 0;
    width: 602px;
    height: 801px;
    max-width: 80%;
}

.hero__bg-dots-left {
    content: "";
    background-image: url("../images/hero-dots-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 148px;
    left: 9px;
    z-index: 0;
    width: 87px;
    height: 219px;
    max-width: 80%;
}

.hero__button {
    margin: 42px 0 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero__content {
        padding: 140px 40px;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .hero__content > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .hero__image {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero__content {
        padding: 158px 72px 165px;
        -ms-grid-columns: 45% 56px 1fr;
        grid-template-columns: 45% 1fr;
        grid-gap: 56px;
    }
    .hero__text-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .hero__image {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero__title {
        font-size: 87.89px;
        line-height: 0.9;
        letter-spacing: -0.04em;
        margin: 163px 0 0;
    }

    .hero__image {
        max-width: 108%;
    }
    .hero__subtitle {
        margin: 35px 0 0;
        padding: 0 0 0 7px;
    }
    .hero__button {
        margin: 48px 0 0;
    }
    .hero__bg-dots,
    .hero__bg-circle-yellow,
    .hero__bg-circle-blue,
    .hero__bg-circle-inner,
    .hero__bg-circle-outer,
    .hero__bg-dots-left {
        max-width: 100%;
    }
}
