.logo {
    margin: 0 auto;
    background-image: url("../images/agency.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 146px;
    height: 33px;
}

@media only screen and (min-width: 1200px) {
    .logo {
        margin: 30px 30px 0 6px;
    }
}
