.modal {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.3s ease-out 0.2s;
    -o-transition: all 0.3s ease-out 0.2s;
    transition: all 0.3s ease-out 0.2s;
}

.modal__close-icon {
    position: absolute;
    content: "";
    font-size: 27px;
    right: 15px;
    top: 10px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: none;
    background: none;
}

.modal__close-icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.modal_opened {
    opacity: 1;
    z-index: 2;
}

.modal__content {
    max-width: 627px;
    max-height: 79%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px 16px;
    position: relative;
    overflow-y: auto;
    text-align: center;
}

.modal__text {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.8;
    color: #25234d;
    height: auto;
    padding: 0;
    margin: 0;
}

.modal__text span {
    display: block;
}

.modal__button_type_close {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 40px;
    font-size: 18px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .modal__content {
        padding: 80px 24px 40px;
    }
    .modal__title {
        font-size: 30px;
    }
    .modal__close-icon {
        font-size: 35px;
        right: 20px;
        top: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
