.nav__button {
    display: inline-block;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background: none;
    border: none;
    cursor: pointer;
}

.nav__bar-top,
.nav__bar-middle,
.nav__bar-bottom {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 5px;
}

.nav__bar-top.change {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    -ms-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.nav__bar-middle.change {
    opacity: 0;
}

.nav__bar-bottom.change {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav__menu-overlay {
    position: fixed;
    left: 0;
    top: 70px;
    min-width: 100%;
    height: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav__menu_opened {
    opacity: 1;
    z-index: 1;
    height: 100%;
}
.nav__menu {
    position: absolute;
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    background-color: #fff;
    top: 0;
    z-index: 2;
    border-radius: 0 0 20px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.nav__links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.nav__list {
    margin: 20px 0;
}
.nav__link {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.68px;
    color: #25234d;
    text-decoration: none;
    -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    cursor: pointer;
}

.nav__contact-button {
    border: 2px solid #6b6a80;
    margin: 30px 0 0;
}

@media only screen and (min-width: 600px) {
    .nav__menu-overlay {
        top: 120px;
    }
}
@media only screen and (min-width: 768px) {
    .nav__menu {
        width: 40vw;
        border-radius: 20px;
        top: 5px;
        left: 79%;
    }
}

@media only screen and (max-width: 992px) {
    .nav__button {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .nav__button {
        display: none;
    }
}
