* {
    scroll-behavior: smooth;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.root {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;

    /* font smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* text size adjust to maintain proportionality */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;

    /* apply kerning/ligatures to improve legibility (slows performance) */
    text-rendering: optimizeLegibility;

    -ms-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
}
