.section__title {
    font-family: "nexa-xbold", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 0.94;
    letter-spacing: -0.04em;
    color: #25234d;
    height: auto;
    padding: 0;
    margin: 0;
}

.section__title span {
    display: block;
}

.section__subtitle {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #4e4c6f;
    height: auto;
    padding: 0;
    margin: 0;
}

.section__title_theme_dark {
    color: #fff;
}

.section__subtitle_theme_dark {
    color: #e4def8;
}

.section__text {
    font-family: "nexa-regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.2em;
    color: #6422db;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .section__title {
        font-size: 60px;
        line-height: 0.94;
    }

    .section__subtitle {
        font-size: 18px;
        line-height: 1.8;
    }
    .section__text {
        font-size: 26px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .section__title {
        font-size: 70px;
        line-height: 0.94;
        letter-spacing: -0.04em;
    }

    .section__subtitle {
        font-size: 20px;
        line-height: 1.8;
    }
    .section__text {
        font-size: 30px;
        letter-spacing: 0.2em;
    }
}
