.service {
    background-image: url("../images/service-bg.png");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: contain;
}

.service__content {
    padding: 100px 16px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 1600px;
    min-height: 695px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.service__text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: start;
    padding: 5px 0 0;
}

.service__title {
    margin: 27px 0 0;
}
.service__subtitle {
    margin: 30px 0 0 3px;
}
.service__items-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.service__item-col-left {
    margin: 38px 0 0 0;
}
.service__item-col-right {
    margin: 38px 0 0 0;
}
.service__item {
    width: 100%;
    height: 100%;
    min-height: auto;
    -webkit-box-shadow: 10px 20px 50px 35px #f6f6f99d;
    box-shadow: 10px 20px 50px 35px #f6f6f99d;
    border-color: white;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 25px;
    max-width: 250px;
    max-height: 345px;
}
.service__item:not(:first-child) {
    margin: 20px 0 0;
}

.service__item-pic-wrapper {
    display: inline-block;
    position: relative;
}

.service__item-pic {
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.service__pic-center {
    position: absolute;
    left: 20px;
    top: 20px;
}

.service__item-title {
    font-size: 22px;
    font-weight: 700;
    margin: 26px 2px 0;
}

.service__item-subtitle {
    font-size: 16px;
    line-height: 1.78;
    margin: 16px 0 0 4px;
}

.service__button {
    margin: 38px 0 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .service__content {
        padding: 160px 40px;
    }
    .service__item-col-left {
        margin: 38px 10px 0 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .service__items {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .service__item-col-left {
        margin: 38px 50px 0 0;
    }
    .service__item-col-right {
        margin: 38px 0 0 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .service__items {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .service__content {
        padding: 175px 72px;
    }
}
@media only screen and (min-width: 1440px) {
    .service__content {
        padding: 283px 80px 77px;
        -ms-grid-columns: 1fr 40px 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    .service__item {
        max-width: 300px;
    }
    .service__items-cols {
        margin: -75px 0 0;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .service__item:not(:first-child) {
        margin: 40px 0 0;
    }
    .service__item-col-left {
        margin: 38px 10px 0 0;
    }
    .service__item-col-right {
        margin: -94px 0 0 0;
    }
    .service__title {
        max-width: 560px;
    }
    .service__item-title {
        font-size: 24px;
        font-weight: 700;
        margin: 28px 4px 0;
    }

    .service__item-subtitle {
        font-size: 18px;
        line-height: 1.78;
        margin: 18px 0 0 6px;
    }
}
