.testimonials {
    position: relative;
    margin: 50px 0;
    background-image: url("../images/testimonials-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.testimonials__content {
    width: 100%;
    height: 100%;
    padding: 50px 16px 80px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 1600px;
    min-height: 695px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.testimonials__text {
    color: #fff;
}
.testimonials__title {
    margin: 9px 0 0;
    color: #fff;
}

.testimonials__bg-circle-yellow {
    position: absolute;
    content: "";
    background-image: url("../images/testimonials-circle-yellow.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: -6%;
    left: 0%;
    z-index: -1;
    min-width: 140px;
    height: 19%;
}

.testimonials__bg-pics-container {
    position: relative;
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 500px;
    display: none;
}

.testimonials__pic {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pic-1 {
    top: 238px;
    left: 35%;
}
.pic-2 {
    top: 493px;
    left: 8%;
}
.pic-3 {
    top: 678px;
    left: 23%;
}

.pic-4 {
    top: 14.3vw;
    right: -54.4vw;
}

.pic-5 {
    top: 458px;
    right: -59.7vw;
}

.pic-6 {
    top: 730px;
    right: -51.8vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .testimonials__content {
        padding: 60px 40px 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .testimonials::before {
        content: "";
        position: absolute;
        background-image: url("../images/testimonials-map.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: -1;
        top: 24.6%;
        left: -7.6%;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }

    .testimonials::after {
        content: "";
        position: absolute;
        background-image: url("../images/testimonials-dots.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        z-index: -1;
        top: 4.4%;
        left: -2.4%;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .testimonials__content {
        padding: 167px 40px 210px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .testimonials::before {
        max-height: 700px;
        max-width: 1403px;
    }
    .testimonials__bg-pics-container {
        display: flex;
    }
    .pic-1 {
        top: 208px;
        left: 25%;
    }
    .pic-2 {
        left: 3%;
    }
    .pic-3 {
        left: 10%;
    }
}

@media only screen and (min-width: 1440px) {
    .testimonials::before {
        max-height: 700px;
        max-width: 1403px;
        width: 100%;
        height: 100%;
    }
    .pic-1 {
        top: 238px;
        left: 35%;
    }
    .pic-2 {
        left: 15%;
    }
    .pic-3 {
        left: 23%;
    }
}

@media only screen and (min-width: 1680px) {
    .pic-1 {
        top: 290px;
        left: 68%;
    }

    .pic-2 {
        left: 24.8%;
    }
    .pic-3 {
        left: 58%;
    }
}
