@font-face {
  font-family: "nexa-regular";
  src: url("../fonts/Nexa-Trial-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "nexa-bold";
  src: url("../fonts/Nexa-Trial-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "nexa-xbold";
  src: url("../fonts/Nexa-Trial-ExtraBold.woff2");
  font-weight: 900;
  font-style: normal;
}
